#pifagor {
  display: table;
  border: 1px solid;
}
.row {
  display: table-row;
}

.cell {
  display: table-cell;
  width: 40px;
  height: 30px;
  border: 1px solid #000;
  text-align: center;
  font-size: 30px;
  font-family: Verdana;
  padding:3px 10px 3px;
  vertical-align: middle
}
.cell-main {
  background-color: green;
}
.cell-under {
  background-color: aqua;
}
.cell-over {
  background-color: yellow;
}
